<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>{{meta.title}}</title>
  <meta property="og:title" content="{{meta.ogTitle}}" />
  <meta property="og:url" content="{{meta.ogUrl}}" />
  <meta name="description" content="{{meta.ogDescription}}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimal-ui">
  <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
  <script defer="defer" type="module" src="/assets/main.js?v=1"></script>
  <link href="/assets/main.min.css" rel="stylesheet">
</head>

<body class="" :class="bgColor" x-data="{ contactOpen: false, bgColor: 'bg-yellow', textColor: 'text-yellow' }">
  
  <nav class="py-8 px-8 md:py-16 md:px-16 flex justify-betweenshadow-lg z-40 absolute w-full">
    <h1 class="grow flex">
      <img src="/assets/binvision-logo.svg" class="w-16 h-16">
      <span class="py-4">{{header.title}}</span>
    </h1>
    <div class="shadow-md rouded-md h-8 hidden md:block">
      <ul class="flex w-full">
        {% for nav in navigation %}
        <li class="">
          <a href="{{nav.url}}" class="px-6 py-2  rounded-l-md active:bg-black hover:bg-black hover:text-white border border-yellow uppercase">{{nav.name}}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
    <div x-data="{ open: false }" class="ml-4" @mouseleave="open = false">
      <button @mouseover="open = true" class="border-2 rounded-full border-black w-8 h-8">
      </button>
      <div x-show="open" class="">
          <a href="#" @click="bgColor='bg-yellow'" class="bg-yellow block w-8 h-8 border-2 rounded-full border-black "></a>
          <a href="#" @click="bgColor='bg-blue'" class="bg-blue block w-8 h-8 border-2 rounded-full border-black "></a>
      </div>
    </div>
  </nav>

  <header class="relative md:flex pt-32 h-screen" id="intro">
    <div class="w-full md:w-1/2 md:h-full">
      <canvas class="js-3d"></canvas>
    </div>
    <article class="md:w-1/2 p-8 md:p-8 md:right-0">
      <h1 class="text-4xl md:text-6xl">{{intro.p1}}</h1>
      <p class="text-2xl md:text-6xl pb-8">{{intro.p2}}</p>
      <p class="text-xl md:text-4xl pb-8">{{intro.p3}}</p>
      <a href="#" class="px-8 py-4 shadow-lg bg-black text-white text-xl"  @click="contactOpen = true">{{intro.b1}}</a>
      <a href="#references" class="px-8 py-4 shadow-lg text-xl ml-2">{{intro.b2}}</a>
    </article>
  </header>

  <main>
    <section id="how" class="h-75 bg-black py-24 relative">
      <hr class="rotate-3 h-24 bg-black absolute -top-10 -left-10 -right-10 z-10">
      <div class="container mx-auto">
        <h2 class="px-8 py-24 text-4xl" :class="textColor">{{how.title}}</h2>
        <div class="flex">
          {% for step in how.steps %}
          <figure class="cursor-pointer block">
            <img src="/assets/steps/{{step.img}}" class="max-w-2/3 max-h-2/3 block" alt="">
            <figcaption>{{step.name}}</figcaption>
          </figure>
          {% endfor %}
        </div>
        <p class="text-2xl text-white">{{how.description}}</p>
      </div>
      <hr class="rotate-3 h-24 bg-black absolute -bottom-10 -left-10 -right-10 z-10">
    </section>

    <section id="works" class="py-24">
      <div class="container mx-auto">
        <h2 class="text-4xl pb-8">{{references.title}}</h2>
        <p>{{references.intro}}</p>
      </div>
      <div class="bg-stripes grid gap-[1px] grid-cols-1 md:grid-cols-3 md:grid-rows-2">
        {% for reference in references.references %}
        <figure class="md:h-[50vh] justify-center items-center flex p-8 md:p-24" :class="bgColor" x-data="{ open: false }" @mouseover="open = true" @mouseleave="open = false">
          <img src="/assets/clients/{{reference.img}}" class="md:min-w-full md:min-h-max" alt="{{reference.name}}" x-show="!open">
          <figcaption x-show="open">
            <h3 class="text-2xl pb-4">{{reference.name}}</h3>
            <p>{{reference.description}}</p>
          </figcaption>
        </figure>
        {% endfor %}
      </div>
    </section>

    <section class="px-8 bg-black py-24 relative">
      <hr class="-rotate-2 h-20 bg-black absolute -top-10 -left-10 -right-10 z-10">
      <div class="container mx-auto">
        <h2 class="text-4xl text-white pb-8">{{news.title}}</h2>
        {% for n in news.news %}
        <article>
          <p class="py-4 text-white" ><mark class="py-2 px-2" :class="bgColor">{{n.date}}</mark> {{n.title}}</p>
        </article>
        {% endfor %}
      </div>
      <hr class="-rotate-2 h-20 bg-black absolute -bottom-10 -left-10 -right-10 z-10">
    </section>

    <section id="company" class="py-32 px-8">
      <article class="flex flex-col md:flex-row container mx-auto" itemscope itemtype="https://schema.org/Organization">
        <div class="md:w-1/3">
          <h2 class="text-3xl pb-8" itemprop="name">{{company.name}}</h2>
          <p class="pb-4">{{company.longName}}</p>
        </div>
        <div class="md:w-1/3 md:px-8">
          <p class="pb-4" itemprop="address" itemscope itemtype="https://schema.org/PostalAddress">
            {{company.billingLabel}}:
            {{company.country}}-<span itemprop="postalCode">{{company.zip}}</span>
            <span itemprop="addressLocality">{{company.city}}</span>,
            <span itemprop="streetAddress">{{company.address}}</span>
            <br />
            {{company.officeLabel}}:&nbsp;
            <a href="{{company.gmaps}}" target="_blank" data-tooltip="Check it on Google Maps" itemscope itemtype="https://schema.org/PostalAddress">{{company.office}}</a>
          </p>
          <div class="flex">
            <p class="pb-4">
              <a href="mailto:{{company.email}}?subject={{company.emailSubject}}" data-tooltip="{{company.emailTip}}" itemprop="email">{{company.email}}</a><br/>
              {{company.phone}}
            </p>
            <button class="px-4 py-1 shadow-lg bg-black text-white mx-auto"  @click="contactOpen = true">Contact</button>
          </div>
        </div>
        <div class="md:w-1/3">
          <p>
            <a href="#" data-tooltip="{{company.VATTip}}">
              <span>{{company.VATLabel}}</span>:
              <span itemprop="vatId" class="js-copy">{{company.VAT}}</span>
            </a><br />
            <a href="#" data-tooltip="{{company.CIDTip}}" itemscope itemprop="identifier"
              itemtype="https://schema.org/PropertyValue">
              <span itemprop="propertyID">{{company.CIDLabel}}</span>:
              <span itemprop="value" class="js-copy">{{company.CID}}</span>
            </a><br />
            <a href="#" data-tooltip="{{company.LEITip}}">
              <span>{{company.LEILabel}}</span>:
              <span itemprop="leiCode" class="js-copy">{{company.LEI}}</span>
            </a>
          </p>
          <p>
            {{company.bank1Short}}: <span data-tooltip="{{company.bank1Label}}" class="js-copy">{{company.bank1}}</span><br>
            {{company.bank2Short}}: <span data-tooltip="{{company.bank2Label}}" class="js-copy">{{company.bank2}}</span>
          </p>
        </div>
      </div>
      </article>

    </section>
    <p class="text-xs text-center pb-4">{{footer.imprint}} <br> {{footer.gdpr}} </p>
  </main>
  <div class="fixed transition ease-in-out delay-150 bottom-100 left-4 right-4 bg-white h-1/2 p-8 rounded-t-lg shadow-lg"
      x-show="contactOpen"
      @click.away="contactOpen = false"
    >
    <button type="submit" class="absolute right-8 top-4 rotate-45 text-gray text-6xl">+</button>
    <h1>{{contact.title}}</h1>
    <p>{{contact.intro}}</p>
    <input type="text" name="name" placeholder="{{contact.name}}" class="border-b border-gray text-xl w-full mb-4 outline-none">
    <input type="email" name="email" placeholder="{{contact.email}}" class="border-b border-gray text-xl w-full mb-4 outline-none">
    <input type="phone" name="phone" placeholder="{{contact.phone}}" class="border-b border-gray text-xl w-full mb-4 outline-none">
    <textarea placeholder="Details" rows="3" class="border-b border-gray text-xl w-full mb-4 outline-none">
    </textarea>
    <button type="submit" class="bg-black text-white px-4 py-2" @click="contactOpen = false">{{contact.button}}</button>
  </div>

</body>

</html>