@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

:root {
  --space: 16px;
  --space-half: 8px;
  --space-double: 32px;
  --space-triple: 48px;
  --radius: 5px;
  --radius-double: 10px;
}

@font-face {
  font-family: "Roboto";
  src: URL("/assets/RobotoMono-Light.ttf") format("truetype");
}


.bg-stripes {
  background: repeating-linear-gradient(
    -45deg, 
    rgba(0,0,0,0), 
    rgba(0,0,0,0) 3px, 
    rgba(0,0,0,1) 6px, 
    rgba(0,0,0,1) 6px);
}

.bg-rotate-l:after,
.bg-rotate-r:after {
  position: absolute;
  content: ' ';
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  background-color: black;
  transform: skewY(3deg);
  transform-origin: left top;
  backface-visibility: hidden;
  z-index: -1;
}

.bg-rotate-l:after {
  transform: skewY(-3deg);
}


html,
body {
  @apply text-black;
}

canvas{
  top: 0;
  left: 0;
  position: fixed;
  z-index: -2;
}

[data-tooltip] {
  cursor: pointer;
  position: relative;
}

[data-tooltip]::before {
  position: absolute;
  top: -32px;
  opacity: 0;
  pointer-events: none;
  font-size: 12px;
  content: attr(data-tooltip);
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: var(--radius);
  white-space: nowrap;
  color: #fff;
  padding: var(--space-half);
  transform: translateY(-20px);
  transition: all 150ms cubic-bezier(0.25, 0.8, 0.25, 1);
  z-index: 10;
}

[data-tooltip]:hover::before {
  opacity: 1;
  transform: translateY(0);
  transition-duration: 300ms;
}

.copy-done::after {
  content: " copied";
	font-weight: 900;
  padding-left: 5px;
  width: 12px;
  height: 12px;
}
